<h1>
  <i><%= @Idrecipe.titre %></i>
  
</h1>
<%= @Idrecipe.etapes %> <br /> <br />
Ingredients :
<ul>
    <% for i in 0..@Idrecipe.ingredients.length-1 %>
      <li>
        <%=@Idrecipe.recette_ingredients[i].quantite%> <%= @Idrecipe.recette_ingredients[i].unite%> <%= @Idrecipe.ingredients[i].nom%>
      </li>
    <% end %>
</ul>

  
