<!-- #Raphael Bergeron 2021-12-01 -->
<h1>Liste des recettes en ADMIN</h1> <br />
<a target=_blank href=ajout>Ajouter une recette</a>
<ul>
  <% @recetteByUser.each do |user, recettes| %>
    <li>
      <%= user.prenom %> <%= user.nom %>
      
        <ol>
          <% recettes.each do |recette| %>
            <li>
              <a target=_blank href=recettes/<%= recette.id %>><%= recette.titre %></a>
              <a target=_blank href=edit/<%= recette.id %>>MODIF</a>
            </li>
          <% end %>
        </ol>
    </li>
  <% end %>
</ul> 
