
<h1>
Recette de <%=@theRecipe.user.nom%> <%=@theRecipe.user.prenom%>
<br />
  <i><%= @theRecipe.titre %></i>
  
</h1>
<%= @theRecipe.etapes %> <br /> <br />
<ul>
<li>Recette id: <%= @theRecipe.id %></li>
<li>User id: <%= @theRecipe.user_id %></li>
<li>Titre: <%= @theRecipe.titre %></li>
<li>Étapes: <%= @theRecipe.etapes %></li>
<li>Date de création: <%= @theRecipe.created_at %></li>
<li>Date de la dernière modification: <%= @theRecipe.updated_at %></li>
<li>Nombre d'ingredients: <%= @theRecipe.ingredients.count %></li>
</ul>

  